/* ------------------------------------ NAV HOVER ANIMATIONS ---------------------------------- */

.item a::before,
.item a::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
}

.item a::before {
    color: var(--foreground-color);
    height: 2px;
    bottom: 0;

    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);

}

.item a::after {
    content: attr(data-toggle);
    height: 100%;
    top: 0;

    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}

.item a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.item a:hover::after {
    color: var(--orange);
    transform: translate3d(0, 0, 0);

}

.item a span {
    display: inline-block;
    transition: transform .5s cubic-bezier(.76, 0, .24, 1);
}

.item a:hover span {
   transform: translate3d(-200%, 0, 0); 
}
