@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: Varesha;
    src: url(assets/font/Varesha.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --foreground-color: #222;
    --orange: #f4ac1c;
    --green: #00a991;
}

button {
    cursor: pointer;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    color: var(--foreground-color);
}

.wrapper {
    width: 96%;
    margin: 0 auto; /* margin-inline: auto; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;

    border: 1px solid red;
}

.logo, .logo img {
    max-width: 108px;
    height: auto;
}

.navcollapse {
    display: none;

}

.menu_mobile {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.item a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--foreground-color);
    font-weight: 600;
    font-size: 1.2rem;

    /* settings animation */
}

.btn-orange {
    font-family: Poppins;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    background-color: var(--orange);
    border: none;
    padding: 10px 1rem;
    border-radius: 25px;
}

/* ---------------------------------------------- NAV HOVER ANIMATION ----------------------------------- */


/* ---------------------------------------------- HERO ------------------------------------ */

.hero {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .izda {
        flex: 1;
        height: 90vh;
        border: 1px solid green;

        display: flex;
        flex-direction: column;
        align-items: center;

        .main-title {
            font-family: Varesha;
            font-size: clamp(4rem, 2.519rem + 6.234vw, 10rem);
            width: 70%;
            text-transform: lowercase;
            text-align: center;
            line-height: clamp(3rem, 1.519rem + 6.234vw, 9rem);
            letter-spacing: 1rem;
        }

        .social {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .subtitle-2 {
            width: 90%;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 2rem;
        }

        .stadistics {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 2rem;

            .col-1 {
                flex: 1;
                border: 1px solid purple;

                display: flex;
                flex-direction: column;

                span:first-child {
                    font-size: clamp(1.5rem, 1.253rem + 1.039vw, 2.5rem);
                    font-weight: 600;
                    display: inline-block;
                    width: 100%;
                    font-style: italic;
                }

                span:last-child {
                    font-size: 0.9rem;
                    text-align: right;
                }
            }

            .col-2 {
                flex: 1;
                border: 1px solid orange;

                display: flex;
                flex-direction: column;

                span:first-child {
                    font-size: clamp(1.5rem, 1.253rem + 1.039vw, 2.5rem);
                    font-weight: 600;
                    text-align: right;
                    display: inline-block;
                    width: 100%;
                    font-style: italic;
                }

                span:last-child {
                    font-size: 0.9rem;
                    text-align: right;
                }
            }
        }


    }

    .dcha {
        flex: 1;
        height: 90vh;
        border: 1px solid blue;
        padding: 1rem;
    }
}

.img-container {
    background-image: url(assets/img/fondo-hummingbird.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 25px;

    width: 100%;
    height: 100%;

    position: relative;
    padding: 2rem;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center center;
    }

    .phone-call {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        background-color: var(--green);
        bottom: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        outline: 10px solid white;
        cursor: pointer;

        transition: .5s;


        &::before, &::after {
            position: absolute;
            content: "";
            aspect-ratio: 1;
            background-color: red;

            background: radial-gradient(circle 25px at top left, transparent 98%, white);
        }

        &::before {
            width: 34px;
            bottom: -10px;
            left: -35px;
        }

        &::after {
            width: 34px;
            top: -35px;
            right: -10px;
        }

        &:hover {
            
            width: 200px;

            span {
                width: 100%;
                justify-content: center;
            }

            img {
                transform: rotate(360deg);
            }
        }



        span {
            color: white;
            overflow: hidden;
            width: 2.2ch;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: 600;

            white-space: nowrap;

            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;

            img {
                width: 26px;
                height: 26px;
                transition: transform .6s ease-in-out;
            }
        }
    }
}