@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Manjari:wght@100;400;700&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --azul: #080819;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sansation';
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    background-color: white;
}

.btn {
    background-color: transparent;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.7rem 1.7rem 0.7rem 1.7rem;


}


header {
    background-color: var(--azul);
    color: var(--white);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: center;

    nav {

        ul {
            text-align: center;

            list-style: none;
            display: flex;
            gap: 2rem;
            align-items: center;

            li {
                padding: 5rem;

                a {

                    text-decoration: none;
                    color: var(--white);
                    font-size: 1.2rem;
                    font-weight: 400;

                }
            }
        }
    }
}

.hero-content {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--azul);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


    .morad {
        width: 45%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 5rem;
        margin-bottom: 8rem;

        h1 {
            font-family: 'Monoton';
            font-weight: 100;
            font-size: 128px;
        }

        p {
            text-align: left;
            padding-left: 1rem;
            font-weight: 350;
        }
    }

    .photo {
        width: 50%;
        padding-left: 10rem;
        padding-bottom: 1rem;

        img {
            width: 700px;
            height: 890px;
        }
    }

    .icons {
        width: 5%;
        padding-bottom: 5rem;

        svg {
            height: 40px;
            width: 40px;
            margin: .5rem;
        }
    }
}

.bio-content {
    padding-top: 3rem;
    padding-bottom: 5rem;

    .bio1 {
        color: var(--azul);
        display: flex;

        .content1 {
            width: 52%;
            padding-top: 1rem;

            h2 {
                padding-left: 3rem;
                font-size: 64px;
            }

            h3 {
                padding: 4rem 4rem 2rem 4rem;
                font-size: 36px;
                font-style: italic;
                font-weight: 400;
            }

            p {
                padding: 1rem 11rem 0rem 4rem;
                margin-bottom: 1rem;
                font-size: 24px;
            }
        }

        .content2 {
            width: 48%;

            padding-top: 1rem;
            margin-left: 2rem;

            img {
                height: 875px;
                width: 900px;
            }
        }
    }

    .bio2 {
        margin-top: 6rem;
        color: var(--white);
        display: flex;


        .content3 {
            width: 48px;
            background-color: #080819;
            width: 900px;
            height: 875px;
            text-align: center;
            padding-top: 1rem;

            img {
                width: 678px;
                height: 850px;
            }
        }

        .content4 {
            width: 52%;
            padding-top: 1rem;
            color: var(--azul);

            h3 {
                margin-top: 2.5rem;
                padding: 4rem 0rem 2rem 5rem;
                font-size: 36px;
                font-style: italic;
                font-weight: 400;
            }

            p {
                padding: 1rem 11rem 0rem 5rem;
                margin-bottom: 1rem;
                font-size: 24px;
            }
        }
    }
}

.album {
    width: 100%;

    .albumTitle {
        height: 380px;
        background-color: #00010a;

        h2 {
            padding: 3rem;
            font-size: 64px;

        }

        h3 {
            padding-top: 2rem;
            text-align: center;
            font-size: 56px;
        }
    }

    .album-content {
        width: 100%;
        background-image: url(assets/img/fondomorad.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        padding: 6rem;

        .imgalbum {
            text-align: center;
            margin-bottom: 9rem;

            img {

                width: 1035px;
                height: 1035px;
                border-radius: 10px;

            }
        }

        .canciones {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: center;

            iframe {
                box-shadow:
                    0 4px 20px rgba(255, 255, 255, 0.05),
                    0 8px 30px rgba(255, 255, 255, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease
            }

            iframe:hover {
                transform: translateY(-5px);
                box-shadow: 0 10px 40px rgba(255, 255, 255, 0.12),
                    0 15px 50px rgba(255, 255, 255, 0.15);
            }
        }
    }

    .moreAlbum {
        width: 100%;
        background-color: var(--white);
        padding: 5rem;
        color: var(--azul);

        h3 {
            text-align: center;
            font-size: 56px;
        }

        .album2 {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: center;
            justify-content: center;

            .fila1 {
                margin-top: 2rem;
                width: 100%;
                display: flex;
                gap: 3rem;
                justify-content: center;

                .imgalbum {
                    border: 2px solid white;
                    flex: 1;
                    text-align: center;
                    margin: 1rem;

                    h4 {
                        margin: 1rem;
                    }
                }
            }

            .fila2 {
                width: 100%;
                display: flex;
                gap: 3rem;
                justify-content: center;

                .imgalbum {
                    border: 2px solid white;
                    flex: 1;
                    text-align: center;
                    margin: 1rem;

                    h4 {
                        margin: 1rem;
                    }
                }
            }
        }
    }
}

.tour {
    width: 100%;
    background-color: var(--azul);
    padding: 5rem;
    color: var(--white);

    h2 {
        font-size: 64px;

    }

    .tour-content {
        margin: 4rem 0rem 4rem 0rem;
        display: flex;
        gap: 3rem;

        .cards {
            flex: 1;

            .sect {
                display: flex;
                gap: 4rem;
                margin: 2rem 1rem 2rem 1rem;
                padding: 1rem;
                border: 2px solid var(--white);
                border-radius: 15px;

                .text {
                    flex: 1;
                }

                .bton {
                    flex: 1;
                    text-align: right;
                    align-items: center;

                    .btn-tour {
                        color: var(--white);
                        border: 1px solid var(--white);
                    }

                }
            }
        }

        .photo2 {
            flex: 1;

        }
    }

}

.merchan {
    width: 100%;
    background-color: var(--white);
    padding: 5rem;
    color: var(--azul);

    h2 {
        font-size: 64px;

    }

    .mercha-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 6rem;

        .cont1 {
            display: flex;
            gap: 11rem;

            .card {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex: 3;
                border: 1px solid var(--azul);
                border-radius: 10px;

                img {
                    width: 400px;
                    height: 365;
                }

                .text {
                    text-align: center;
                    margin: 1.5rem;

                    h5 {
                        margin-bottom: .5rem;
                    }
                }

                .bton {
                    margin-bottom: 1rem;
                }
            }
        }

        .cont2 {
            display: flex;
            gap: 10rem;

            .card {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex: 3;
                border: 1px solid var(--azul);
                border-radius: 10px;

                img {
                    width: 400px;
                    height: 365;
                }

                .text {
                    text-align: center;
                    margin: 1.5rem;

                    h5 {
                        margin-bottom: .5rem;
                    }
                }

                .bton {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.video {
    width: 100%;
    background-color: var(--azul);
    padding: 5rem;
    color: var(--white);
    align-items: center;
    text-align: center;
}